{% include 'main/forms/crispy_form.html' %}

{#<div class="mb-3">#}
{#    <label for="id_title" class="form-label">Title</label>#}
{#    <input type="text" class="form-control" id="id_title" name="title" value="{{ form.title.value }}" required>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_description" class="form-label">Description</label>#}
{#    <textarea class="form-control" id="id_description" name="description" rows="4">{{ form.description.value }}</textarea>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_subject" class="form-label">Subject</label>#}
{#    <select name="subject" id="id_subject" class="form-select">#}
{#        {% for op in form.subject %}#}
{#            {{ op }}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_students" class="form-label">Students</label>#}
{#    <select name="students" id="id_students" class="form-select" multiple>#}
{#        {% for op in form.students %}#}
{#            {{ op }}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}