<div class="mb-3">
    <label for="id_count" class="form-label">Lesson Time Count</label>
    <input type="number" min="1" class="form-control" id="id_count" name="count" value="0" required>
</div>

<div class="mb-3">
    <label for="id_start_time" class="form-label">Start Time</label>
    <input type="datetime-local"  class="form-control" id="id_start_time" name="start_time">
</div>

<div class="mb-3">
    <label for="id_description" class="form-label">Description For New Course</label>
    <textarea class="form-control" id="id_description" name="description" rows="4"></textarea>
</div>
