{% include 'main/forms/crispy_form.html' %}

{#<div class="mb-3">#}
{#    <label for="id_description" class="form-label">Description</label>#}
{#    <textarea class="form-control" id="id_description" name="description" rows="4">{{ form.description.value }}</textarea>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_student" class="form-label">Student</label>#}
{#    <select name="student" id="id_student" class="form-select">#}
{#        {% for op in form.student %}#}
{#            {{ op }}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_time" class="form-label">Time</label>#}
{#    <select name="time" id="id_time" class="form-select">#}
{#        {% for op in form.time %}#}
{#            {{ op }}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}
{#<div class="row mb-3">#}
{#    <div class="col-auto">#}
{#        <label for="id_done" class="form-label">Done</label>#}
{#    </div>#}
{#    <div class="col-auto ms-auto">#}
{#        <input type="checkbox" id="id_done" name="done" {% if form.done.value %}checked{% endif %}>#}
{#    </div>#}
{#</div>#}
