{% include 'main/forms/crispy_form.html' %}

{#<div class="mb-3">#}
{#    <label for="id_name" class="form-label">First Name</label>#}
{#    <input type="text" class="form-control" id="id_name" name="name" value="{{ form.name.value }}" required>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_last_name" class="form-label">Last Name</label>#}
{#    <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value }}" required>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_phone_number" class="form-label">Phone Number</label>#}
{#    <input type="tel" class="form-control" id="id_phone_number" name="phone_number" value="{{ form.phone_number.value }}">#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_fb_link" class="form-label">Facebook Profile Link</label>#}
{#    <input type="text" class="form-control" id="id_fb_link" name="fb_link" value="{{ form.fb_link.value }}">#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_dicord_username" class="form-label">Dicord Username</label>#}
{#    <input type="text" class="form-control" id="id_dicord_username" name="discord_username" value="{{ form.discord_username.value }}">#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_course" class="form-label">Parent</label>#}
{#    <select name="parent" id="id_course" class="form-select">#}
{#        {% for op in form.parent %}#}
{#            {{ op }}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}