{% include 'main/forms/crispy_form.html' %}

<script>
    setTimeout(() => {
        const element = document.getElementById("id_lesson_datetime");

        if (window.location.pathname === '/times/') {
            date = new Date(new Date(element.value).getTime() + 1000*60*60*5);
            date.setMinutes(0, 0);
        } else {
            date = new Date(new Date(element.value).getTime());
        }

        const datestr = date.toISOString();

        element.type = "datetime-local";
        element.removeAttribute('value');
        element.value = datestr.slice(0, datestr.indexOf('T')) + ' ' + date.toLocaleTimeString('it-IT');


        form = element.parentElement.parentElement.parentElement;
        if (form.tagName !== 'FORM'){
            forms = document.getElementsByTagName('form');
            form = forms[forms.length - 1];
        }

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            element.type = "text";
            if (element.value.split(":").length - 1 === 1) {
                element.value = element.value.replace('T', ' ') + ':00';
            }

            form.submit();
        });
    }, 500);
</script>

{#<div class="mb-3">#}
{#    <label for="id_course" class="form-label">Course</label>#}
{#    <select name="course" id="id_course" class="form-select">#}
{#        {% for op in form.course %}#}
{#            {{ op }}#}
{#        {% endfor %}#}
{#    </select>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_lesson_datetime" class="form-label">Time</label>#}
{#    <input type="text" class="form-control" id="id_lesson_datetime" name="lesson_datetime"#}
{#           {% if form.lesson_datetime.value %}#}
{#               {% with form.lesson_datetime.value as t %}#}
{#                   value="{{ t|date:"Y-m-d" }} {{ t|time:"H:i" }}"#}
{#               {% endwith %}#}
{#           {% else %}#}
{#               value="2022-10-20 12:00"#}
{#           {% endif %}#}
{#           required>#}
{#</div>#}
{#<div class="mb-3">#}
{#    <label for="id_description" class="form-label">Description</label>#}
{#    <textarea class="form-control" id="id_description" name="description" rows="4">{{ form.description.value }}</textarea>#}
{#</div>#}
