{% extends 'main/base/base_detail.html' %}

<!-- Delete Modal -->
{% block delete_item_title %}{{ subject_obj }}{% endblock %}
{% block delete_item_body %}{{ subject_obj }}{% endblock %}

<!-- Edit Modal -->
{% block edit_item_title %}{{ subject_obj }}{% endblock %}
{% block edit_item_body %}
    {% with form=edit_form %}
        {% include 'main/forms/subject.html' %}
    {% endwith %}
{% endblock %}



{% block title %}{{ subject_obj }}{% endblock %}

{% block table_title %}Subject{% endblock %}

{% block rows %}
    <tr>
        <th scope="row" style="width:30%">Title</th>
        <td>
            {% if subject_obj.title %}
                {{ subject_obj.title }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">Description</th>
        <td>
            {% if subject_obj.description %}
                {{ subject_obj.description }}
            {% endif %}
        </td>
    </tr>

{% endblock %}


{% block additional_content %}
    <div>
        <h3>Classes</h3>
    </div>
    {% with classes=subject_obj.classes.all %}
        {% include "main/detail/additional/class.html" %}
    {% endwith %}
{% endblock %}
