{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="hstack gap-3 mb-3">
        <div>
            <h2>
                My Profile
            </h2>
        </div>
        <div class="ms-auto">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#editModal">
                Edit
            </button>
        </div>
        <div>
            <a class="btn btn-info" href="{% url 'password_change' %}">
                Change Password
            </a>
        </div>
    </div>


    <div class="row mt-3 mx-auto">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row" style="width:30%">First Name</th>
                <td>
                    {% if user.first_name %}
                        {{ user.first_name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Last Name</th>
                <td>
                    {% if user.last_name %}
                        {{ user.last_name }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Username</th>
                <td>
                    {% if user.username %}
                        {{ user.username }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>
                    {% if user.email %}
                        {{ user.email }}
                    {% endif %}
                </td>
            </tr>

            {% if user.is_superuser %}
                <tr>
                <th colspan="2" scope="row" class="h4 bg-light">Registration code</th>

            </tr>
            <tr>
                <th scope="row">Next Code</th>
                <td>
                    {{ code }}
                </td>
            </tr>
            {% endif %}

            </tbody>
        </table>
    </div>

    <div class="row mt-4 md-5">
        {% block additional_content %}
        {% endblock %}
    </div>

    <!-- Modals -->

    <!-- Edit Modal -->

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="update/" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Edit
                            {% block edit_item_title %}Item{% endblock %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

