{% extends 'main/base/base_table.html' %}

{% block title %}Lessons{% endblock %}


{% block add_button_text %}Lesson{% endblock %}
{% block add_item_title %}lesson{% endblock %}
{% block add_item_body %}
    {% include 'main/forms/lesson.html' %}
{% endblock %}


{% block columns %}
    <th scope="col">Lesson</th>
    <th scope="col">Student</th>
    <th scope="col">Time</th>
    <th scope="col">Class</th>
    <th scope="col">Course</th>
    <th scope="col">Done</th>
{% endblock %}

{% block rows %}
    {% for lesson in lessons %}
        <tr>
            <td class="text-center">
                {{ lesson.id }}
            </td>
            <td>
                <a href="{% url 'lesson-detail' lesson.id %}">
                    {{ lesson }}
                </a>
            </td>
            <td>

                {% if lesson.student %}
                    <a href="{% url 'student-detail' lesson.student.id %}">
                        {{ lesson.student }}
                    </a>
                {% endif %}
            </td>
            <td>

                {% if lesson.time %}
                    <a href="{% url 'time-detail' lesson.time.id %}">
                        {{ lesson.time }}
                    </a>
                {% endif %}
            </td>
            <td>

                {% if lesson.course_class %}
                    <a href="{% url 'class-detail' lesson.course_class.id %}">
                        {{ lesson.course_class }}
                    </a>
                {% endif %}
            </td>
            <td>

                {% if lesson.course %}
                    {{ lesson.course.month_count }}
                {% endif %}
            </td>
            <td>
                {% if lesson.done %}
                    ✔
                {% else %}
                    ❌
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}


