<div class="row mt-4 md-3 mx-auto">
    <table class="table">
        <tbody>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Facebook Profile</th>
        <th scope="col">Discord Nickname</th>
        </tbody>
        <tbody>
        {% for student in students %}
            <tr>
                <td>
                    <a href="{% url 'student-detail' student.id %}">
                        {{ student }}
                    </a>
                </td>
                <td>
                    {% if student.phone_number %}
                        {{ student.phone_number }}
                    {% endif %}
                </td>
                <td>
                    {% if student.fb_link %}
                        <a href="{{ student.fb_link }}">
                            {{ student.fb_link }}
                        </a>{% endif %}</td>
                <td>
                    {% if student.fb_link %}
                        {{ student.discord_username }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>